.main-box {
    grid-area: main;
    line-height: 1.4;
}

/*yarilama baslasin*/
.main-todo {

    padding: 1em 2em;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 2fr;
    grid-template-rows: 5vh 4.5vh 3.5vh;
    grid-template-areas:
        '. title title title dueDate dueDate'
        'check description description  description description  description'
        '. priority priority . . .'
    ;
}

.main-todo-title {
    grid-area: title;
}

.main-todo-description {
    grid-area: description;
}

.main-todo-dueDate {
    grid-area: dueDate;

    width: 50%;
}

.main-todo-priority {
    grid-area: priority;
    display: flex;
    gap: 1em;
}

.green {
    flex: 1;
}

.yellow {
    flex: 1;
}

.red {
    flex: 1;
}

.main-todo-check {
    grid-area: check;
    width: 20px;
    height: 20px;
    justify-self: center;
    align-self: center;

}