.plus-box {
    align-self: center;
    grid-area: plus;
    text-align: center;
    padding-right: 10em;
    padding-top:8px;
}
.plus-button{
    height: 50px;
    width: 50px;
    font-size: 2em;
    border-radius: 50%;
}