.side-box {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 2em 4em 2em 4em;
    gap: 2em;
    border-right: 1px solid black;

}

.side-button {
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.side-button-home {
    flex: 1;
}

.side-button-today {
    flex: 1;
}

.side-button-week {
    flex: 1;
}

.side-project {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.side-project-heading {}

.side-project-add {}