html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
    grid-template-columns: 25vw minmax(75vw,auto);
    grid-template-rows: 20vh minmax(80vh,auto);
    grid-template-areas:
        'header header'
        'sidebar main'
    ;
}